#ignore all non dot files
/*
!bin
!.*
#and also ignore these dot files
/.PyCharm20/
/.bash_history
/.cache/
/.config/
/.dbus/
/.dropbox-dist/
/.dropbox/
/.less*
/.gem
/.gnome/
/.lastpass/
/.ssh/
/.python-eggs
/.mysql_history
/.ssh/id_dsa
/.ssh/id_dsa.pub
/.ssh/known_hosts
/.subversion
/.viminfo
/.Xauthority
/.ICEauthority
/.dmenu_cache
/.fehbg
/.gksu.lock
/.goutputstream*
/.gtk-bookmarks
/.pulse-cookie
/.rnd
/.credentials
/.xsession-errors*
/.gittemplate.bak/
/.gittemplate/
/.gnupg/
/.gstreamer*
/.icons/
/.java/
/.local/
/.macromedia/
/.mozilla/
/.passwordsafe/
/.pki
/.pulse/
/.purple/
/.sqldeveloper/
/.swt/
/.vagrant.d/
/.VirtualBox/
