autostart
compiz-1
dconf
enchant
evolution
gedit
gnome-session
goa-1.0
google-chrome
gtk-2.0
gtk-3.0
ibus
libaccounts-glib
libreoffice
menus
nautilus
software-center
spotify
sublime-text-2
Trolltech.conf
update-notifier
user-dirs.dirs
user-dirs.locale
yelp

